<%- include("./layout/layout")%>



<div class="center">
    <h1>Tcart login..</h1>
    <form action="login" method="post">
      <div class="inputbox">
        <input type="text" required="required" name="email">
        <span>Email</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required" name="password">
        <span>Password</span>
      </div>
      <div class="inputbox">
        <input type="submit" value="submit">
      </div>

      If not have accound ? <a href="/sign">create acccound</a>
    </form>
  </div>


  
  
  